pypdf
chromadb
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
openai-whisper
torch --index-url https://download.pytorch.org/whl/cpu
google-genai
python-dotenv
numpy
scikit-learn
PyPDF2
fastapi
uvicorn
python-multipart
